
.container{
    margin: 0px auto;
    width: 960px;
   border-radius: 5px;
   text-align: center;
   background-color: rgb(75, 202, 228);
}
hgroup{
    padding: 10px 20px;
    font-family: "Helvetica",sans-serif;
    margin-top: 30px;
    color: black;
}
h1{
    margin: 5px 0px;
    font-size: 4rem;
}
h2{
    margin-top: 0px;
}

section{
    padding-top: 40px;
    padding-bottom: 20px;
}
label{
    font-size: 20px;
}

button{
    
    padding: 10px 25px;
    font-size: 1em;
    border: 1px solid black;
   
    transition: .4s;
}
input{
    padding: 10px;
    font-size: 14px;
    border-radius: 3px;
    border: 2px solid #ccc;
    transition: width 2s;
    
}